#man {
    width: 120px;
    height: 180px;
    margin: auto;
    background-image: url(../images/walking.png);
    animation: walk 0.8s steps(8) infinite;
}
#wrap {
    height: 170px;
    padding-top: 80px;
    background-image: url(../images/tree.png);
    animation: movebg 3s linear infinite;
}

@keyframes walk {
    to {
        background-position: -960px;
    }
}
@keyframes movebg {
    to {
        background-position: -400px;
    }
}
